.product-detail-card {
    border: 2px solid #426F99;
    border-radius: 10px;
    width: 500px;
    margin: 20px;
    padding: 20px;
    box-shadow: 10px 10px 15px #426F99;

}

.product-header {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews li {
    list-style: none;
}