.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0A2845;
    padding: 20px;
}

.site-logo {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    /* padding: 5px; */
    gap: 15px;
    list-style: none;
}

.nav-links {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}